<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />        
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <!--<serviceDebug includeExceptionDetailInFaults="false"/>-->
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <services>
            <service name="RestService.Account" behaviorConfiguration="ServiceBehavior">
                <endpoint address="" binding="webHttpBinding" contract="RestService.IAccount" behaviorConfiguration="web"></endpoint>
            </service>
        </services>

        <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
        </serviceHostingEnvironment>
        <bindings>
            <webHttpBinding>
                <binding name="ServiceBehavior" crossDomainScriptAccessEnabled="true"></binding>
            </webHttpBinding>
        </bindings>
    </system.serviceModel>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <handlers>
            <remove name="WebDAV" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS, HEAD" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
                <add name="Access-Control-Max-Age" value="1728000" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <!--<system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>-->

</configuration>
