<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp/>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <services>
            <service name="RestService.Account" behaviorConfiguration="ServiceBehavior">
                <endpoint address="" binding="webHttpBinding" contract="RestService.IAccount" behaviorConfiguration="web"></endpoint>
            </service>
        </services>

        <serviceHostingEnvironment>
            <serviceActivations>
                <!--<add relativeAddress="Account.svc" service="Account"/>-->
            </serviceActivations>
        </serviceHostingEnvironment>

    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
